.hero {
  min-height: 100vh;
  background: #020617;
  padding-top: 70px; /* navbar height */
  padding-left: 40px;
  padding-right: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap:60px;
}
@media (max-width: 768px) {
  .hero {
    flex-direction: column-reverse; /* Image upar, text niche */
    padding: 100px 20px;
    text-align: center;
    justify-content: center;
  }

  .hero-left {
    max-width: 100%;
    margin-top: 30px;
  }

  .hero-left h1 {
    font-size: 2rem;
  }

  .hero-buttons {
    justify-content: center;
  }

  .hero-right img {
    width: 200px;
    height: 200px;
  }
}
/* LEFT TEXT CONTENT */
.hero-left {
  max-width: 550px;
}

.hero-left h1 {
  font-size: 3rem;
    color: #38bdf8;

}

.hero-left h1 span {
  color: #38bdf8;
}

.hero-left h2 {
  margin: 10px 0;
  color: #cbd5f5;
}

.hero-left p {
  max-width: 600px;
  color: #94a3b8;
  line-height: 1.6;
}

/* BUTTONS */
.hero-buttons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.hero-buttons a {
  padding: 10px 20px;
  background: #38bdf8;
  color: black;
  text-decoration: none;
  border-radius: 6px;
}

.hero-buttons .outline {
  background: transparent;
  border: 1px solid #38bdf8;
  color: #38bdf8;
}

/* RIGHT IMAGE */
.hero-right img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #38bdf8;
}
