.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  z-index: 1000;
  background: rgba(2, 6, 23, 0.85);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(56, 189, 248, 0.1);

}
@media (max-width: 768px) {
  .navbar {
    padding: 0 20px;
  }
  .navbar ul {
    gap: 15px;
  }
  .navbar h2 {
    font-size: 20px;
  }
  .navbar a {
    font-size: 14px;
  }
}
.navbar h2 {
  color: #38bdf8;
  font-size: 24px;
}

.navbar ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 16px;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #38bdf8;
}
