.contact {
  padding: 100px 80px;
  background-color: #020617; /* Same as your about/hero */
  text-align: center;
}
@media (max-width: 768px) {
  /* Projects grid automatically adjust ho jayega kyuki humne repeat(auto-fit) use kiya hai */
  
  .contact-container {
    flex-direction: column;
    gap: 30px;
  }

  .contact-info {
    text-align: center;
    width: 100%;
  }
}
.contact h2 {
  font-size: 32px;
  color: #38bdf8; /* Your accent color */
  margin-bottom: 40px;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1000px;
  margin: auto;
  gap: 50px;
}

.contact-info {
  flex: 1;
  text-align: left;
  color: #cbd5f5;
}

.contact-info h3 {
  color: #38bdf8;
  margin-bottom: 15px;
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input, .contact-form textarea {
  padding: 12px;
  background: #0f172a;
  border: 1px solid #1e293b;
  border-radius: 6px;
  color: white;
  outline: none;
}

.contact-form button {
  padding: 12px;
  background: #38bdf8;
  color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #0ea5e9;
}